<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{ pageTitle + ' with Angular2 at ' + tempDate }}
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary" (click)="toggleEnableCheckboxes()">
                                {{ enableCheckboxes ? "Disable" : "Enable" }} check boxes</button>
                        </th>
                        <th>Product Name</th>
                        <th>Code</th>
                        <th>Available From</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="#product of products">
                        <td><input type="checkbox" [disabled]="!enableCheckboxes" [checked]="product.selected" /></td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.code }}</td>
                        <td>{{ product.publishDate }}</td>
                        <td>{{ product.price }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>