<div>
    <div>
        Product List
    </div>
    <div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>
                            Button here
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            sample                            
                        </td>
                        <td>sample</td>
                        <td>sample</td>
                        <td>sample</td>
                        <td>sample</td>
                        <td>
                            sample
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>