<div class='panel panel-primary'>
    <div class='panel-heading'>
        Product List
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>
                            Button here
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            sample                            
                        </td>
                        <td>sample</td>
                        <td>sample</td>
                        <td>sample</td>
                        <td>sample</td>
                        <td>
                            sample
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>